
nav {
   z-index: 99;
   height: 100%;
   margin: 20px;
   align-self: center;
   background: inherit;
   display: flex;
   flex-flow: row;
   align-items: center;
}
.curTab {
   margin-right: 20px;
   border-radius: 5px;
   font-family: 'Oswald', sans-serif;
   font-weight: 400;
   text-align: center;
}
.buttonCont {
   height: 50%;

   display: flex;
   flex-flow: column;
   justify-content: space-around;
}
.buttonCont > button {
   border-radius: 100%;
   border: none;
   background-size: 100px 1100px;
   background-image: linear-gradient(to bottom, #FFFFF9 500px, #376283 500px 600px, #FFFFF9 600px 1100px);
   -webkit-transition: all 1s;
   -moz-transition: all .4s ease-out;
   transition: all .4s ease-in-out;
   box-shadow: inset 5px 5px 10px #b3b3b0, 
               inset -5px -5px 10px #ffffff;
}
.buttonCont > button:focus {
   outline: none;
}

@media (min-width: 1400px) {
   .curTab {
      font-size: 32px;
      width: 115px;
      padding: 15px !important;
   }
   .buttonCont > button {
      height: 55px;
      width: 55px;
   }
}
@media (min-width: 900px) and (max-width: 1399px) {
   .curTab {
      font-size: 24px;
      width: 85px;
   }
   .buttonCont > button { 
      height: 35px;
      width: 35px;
   }
}
@media (max-width: 899px) {
   nav {
      height: auto;
      width: 100%;
      margin: 5px;
      justify-content: center;
   }
   .curTab {
      flex-basis: 1;
      font-size: 14px;
      width: 45px;
      border-radius: 2px;
   }
   .buttonCont {
      flex-basis: 2;
      flex-grow: 1;

      height: auto;
      max-width: 200px;
      flex-flow: row;
   }
   .buttonCont > button {
      height: 25px;
      width: 25px;
   }
}

.visible {
   opacity: 100% !important;
}
/* 
 * The following is a bunch of classes needed to
 * make the 
 */
.shift1 {
   background-position: 0 100px ;
}
.shift2 {
   background-position: 0 200px ;
}
.shift3 {
   background-position: 0 300px ;
}
.shift4 {
   background-position: 0 400px ;
}
.shift5 {
   background-position: 0 500px ;
}
.shift6 {
   background-position: 0 600px ;
   box-shadow: inset 5px 5px 10px #28475e, 
   inset -5px -5px 10px #467da8 !important;
}
.shift7 {
   background-position: 0 700px ;
}
.shift8 {
   background-position: 0 800px ;
}
.shift9 {
   background-position: 0 900px ;
}
.shift10 {
   background-position: 0 1000px ;
}
.shift11 {
   background-position: 0 1100px ;
}