@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

.visible {
   opacity: 100% !important;
}

@keyframes shadowComing {
    50% {
        box-shadow: inset 2px 2px 4px #b3b3b0, inset -2px -2px 4px #ffffff;
       
    }
}
@keyframes shadowLeaving {
    50% {
        box-shadow: inset 4px 4px 8px #28475e, inset -4px -4px 8px #467da8 !important;
        /* color: red; */
    }
}
/* 
 * The following is a bunch of classes needed to
 * make the 
 */
.shift1 {
animation: shadowComing 1s 0s;
   background-position-x: 100px ;
}
.shift2 {
   animation: shadowComing 1s 0s;

    background-position-x: 200px;
}
.shift3 {
   animation: shadowComing 1s 0s;

    background-position-x: 300px;
}
.shift4 {
   animation: shadowComing 1s 0s;

    background-position-x: 400px;
}
.shift5 {
    animation: shadowComing 1s 0s;

   background-position-x: 500px;
}
.shift6 {
   background-position-x: 600px;
   animation: shadowComing 1s 0s;


    color: white !important;
    /* box-shadow: inset 5px 5px 10px #28475e, inset -5px -5px 10px #467da8 !important;   */
}
.shift7 {
    animation: shadowLeaving .7s 0s;
   background-position-x: 700px;
}
.shift8 {
   animation: shadowComing 1s 0s;
   background-position-x: 800px;
}
.shift9 {
   animation: shadowComing 1s 0s;
   background-position-x: 900px;
}
.shift10 {
   animation: shadowComing 1s 0s;
    background-position-x: 1000px;
}
.shift11 {
   animation: shadowComing 1s 0s;
   background-position-x: 1100px;
}

