/* 
 * The following is a bunch of classes needed to
 * make the 
 */
.shift1 {
   background-position: 100px 0;
}
.shift2 {
   background-position: 200px 0;
}
.shift3 {
   background-position: 300px 0;
}
.shift4 {
   background-position: 400px 0;
}
.shift5 {
   background-position: 500px 0;
}
.shift6 {
   background-position: 600px 0;
   box-shadow: inset 5px 5px 10px #28475e, 
   inset -5px -5px 10px #467da8 !important;
}
.shift7 {
   background-position: 700px 0;
}
.shift8 {
   background-position: 800px 0;
}
.shift9 {
   background-position: 900px 0;
}
.shift10 {
   background-position: 1000px 0 ;
}
.shift11 {
   background-position: 1100px 0 ;
}