
h2.textContainer {
   font-family: 'Oswald', sans-serif !important;
   transform: rotate(-90deg);
   font-size: 15vw;
   justify-self: flex-end;
   margin: 10px;
}
@media only screen and (min-width: 1801px) {
   h2.textContainer  {
      font-size: 250px !important;
   }
}
@media only screen and (min-width: 1301px) and (max-width: 1800px){
   h2.textContainer {
      font-size: 200px !important;
   }
}
@media only screen and (min-width: 901px) and (max-width: 1300px){
   h2.textContainer {
      font-size: 80px !important;
   }
}