
.cont {
   max-width: 800px;
   margin: 200px 30px 200px 50px;
   border-radius: 5px;
   padding: 40px;

   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   font-family: 'Oswald', sans-serif;
   font-weight: 300;
}
.cont > h4{
   font-size: 40px;
   font-weight: 300;
   margin: 0;
}
.cont > h5 {
   margin-bottom: 5px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.cont > h5:hover {
   color: #376283;
}
.cont > ul, .cont > p {
   font-size: 16px;
   line-height: 1.5;
   margin: auto 0;

}
.cont > ul {
   list-style-type: none;
   padding-left: 10px;
}
.cont > ul > li {
   text-indent: -5px;

}
.cont > ul > li:before {
   content: "- ";
}

.detailsCont {
   display: flex;
   height: auto;

   flex-flow: row wrap;
   align-items: stretch;
   justify-content: center;
   padding: 20px;
   transition: all .2s ease-in-out;
}
.detailsHidden {
   height: 0;
   margin: 0;
   box-shadow: none;
   padding: 0;
}
.detailsHidden > * {
   display: none !important;
   opacity: 0;
}
.detailsHidden > .detail, .detailHidden > .detail {
   opacity: 0;
}

.detail {
   display: flex;
   flex-flow: column;
   justify-content: flex-end;
   align-items: center;
   transition: all .2s ease-in-out;
}

.detail > h6, .detail > a {
   text-align: center;
   margin: 0 0;
   padding: 5px;
   font-weight: 300;
   font-size: 14px;
   text-decoration: none;
   color: black;
}
.detail > h6:hover, .detail > a:hover {

   text-decoration: underline;
   color: blue;
}
.detail > h4 {
   font-size: 30px;
   margin: 0;
   padding: 5px;
   text-align: center;
}
.detail > i {
   font-size: 42px !important;
   padding: 5px;
}




@media (max-width: 600px) {
   .cont {
      margin: 100px 10px;
   }
   .cont > h4 {
      font-size: 32px;
   }
   .cont > p,.cont > ul {
      font-size: 14px;
   }

}