.notecard {
   z-index: 50;
   width: max(30vw,30vh);
   height: max(15vw,15vh);
   margin: 20px;
   border-radius: 5px;


   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   background: #FFFFCB;

   font-family: 'Indie Flower', cursive;

   -webkit-backface-visibility: hidden;
}
.notecard > h2  {
   margin: 0;
   font-size: max(2vw, 18px);
}

.notecard > h6 {
   font-size: max(1vw, 12px);
}

@media (max-width: 1200px) {

   .notecard {
      margin: 100px 100px 0 100px;
   }
   
}