.cont {
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   align-items: flex-start;
   margin-bottom: 300px;
}


@media (max-width: 1200px) {

   .cont {
      flex-flow: column;
   }
}