.mainCont {
   display: flex;
   flex-flow: row-reverse nowrap;
   height: 100% !important;
   width: 100% !important;
}
.contentCont {
   height: 100% !important;
   flex-grow: 1;
   overflow: hidden;
   overflow-y: scroll;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.contentCont::-webkit-scrollbar {
   display: none;
 }