@import-normalize; /* bring in normalize.css styles */

html, body, #root {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}
.container {
   position: relative;
   height: 100% !important;
   width: 100%;
   overflow: hidden;
   overflow-y: scroll;
}

.blueText {
   color: #376283 !important;
}

.blue {
   background-color: #376283 !important;
}

.offwhite {
   background-color: #FFFFFB;
}

.indent5 {
   border-radius: 4px;
   padding: 8px 15px;
   box-shadow: inset 5px 5px 10px #b3b3b0, 
               inset -5px -5px 10px #ffffff;
   background: #FFFFFB;
}
.indentAccent{
   background: #376283;
   box-shadow: inset 5px 5px 10px #28475e, 
               inset -5px -5px 10px #467da8;
}

.card10 {
   box-shadow:  10px 10px 20px #b3b3b0, 
   -10px -10px 20px #ffffff;
}