.cont {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-content: flex-start;

}


.line {
   align-self: stretch;
   width: 30px;

   border-radius: 5px;
}
.projects {
   align-self: flex-start;
}