.cont {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-content: flex-start;

}
.line {
   align-self: stretch;
   width: 30px;

   border-radius: 5px;
}
.projects {
   align-self: flex-start;
}



@media (min-width: 1400px) {
   .header > h4 {
      font-size: 40px;
   }
   .bullets {
      font-size: 1.5;
   }   
}
@media (min-width: 1100px) and (max-width: 1399px) {
   .header > h4 {
      font-size: 32px;
   }
   .bullets {
      font-size: 1.5;
   }  
}
@media (min-width: 800px) and (max-width: 1099px) {
   .header > h4 {
      font-size: 32px;
   }
   .bullets {
      font-size: 1.5;
   }  
}
@media (max-width: 799px) {
   .cont {
      flex-flow: column;
   }
   .line {
      height: 30px;
      width: auto;
   }
}